{{#paper-sidenav-container class="inner-sidenav"}}
<div id="book-list" style="position: relative;">
	<div id="toggled-button" class="{{if this.isOpen "hide" "show"}}">
		{{#paper-button iconButton=true onClick=(action "toggle")}}
		{{paper-icon "menu"}}
		{{/paper-button}}
	</div>
	{{#paper-sidenav
		class="md-whiteframe-z2"
		name="left"
		lockedOpen=this.isOpen}}
		{{#paper-toolbar}}
		{{#paper-toolbar-tools}}
		{{#paper-button iconButton=true onClick=(action "toggle")}}
		{{paper-icon "menu"}}
		{{/paper-button}}
		<h2>Books</h2>
		{{/paper-toolbar-tools}}
		{{/paper-toolbar}}
		{{#paper-list class="independent-scroll"}}
		{{#each @model as |book|}}
		<LinkTo @route='books.passages' @model={{book.id}}>
			{{#paper-item class="md-2-line"}}
			{{paper-icon "book" class="md-avatar"}}
			<div class="md-list-item-text">
				<h3>{{book.title}}</h3>
				<i style="font-size: .8em;">{{book.author}}</i>
			</div>
			{{/paper-item}}
		</LinkTo>
		{{paper-divider}}
		{{/each}}
		{{/paper-list}}
		{{/paper-sidenav}}
	</div>

	{{outlet}}

	{{/paper-sidenav-container}}
